@import url('./css/satoshi.css');

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --clr-dark: 0 0% 2.5%;
    --clr-accent01: 130 5% 30%;
    --clr-accent02: 5 90% 50%;
    --clr-white: 25 32% 90%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font families */
    --ff-satoshi: 'Satoshi-Regular', sans-serif;

}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    background-color: hsl( var(--clr-dark) );
    color: hsl( var(--clr-white) );
    font-family: var(--ff-satoshi);
    font-size: var(--fs-500);
    line-height: 1.5;
    min-height: 100vh;
    padding: 0.5em;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)){
    margin-top: 1rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent01 { background-color: hsl( var(--clr-accent01) );}
.bg-accent02 { background-color: hsl( var(--clr-accent02) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent01 { color: hsl( var(--clr-accent01) );}
.text-accent02 { color: hsl( var(--clr-accent02) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-satoshi { font-family: var(--ff-satoshi); }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 
.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-satoshi);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.75px;
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}

p span {
    font-weight: 600;
}

/* ------------------- */
/* Components         */
/* ------------------- */

.standard-button {
    display: grid;
    place-items: center;
    padding: .5em 1em;
    text-decoration: none;
    width: 10em;
    font-weight: 700;
}

.standard-button:hover{
    background-color: hsl(var(--clr-accent02));
    color: hsl(var(--clr-white));
    transform: scale(1.05);
    transition: transform  100ms ease-in-out;
}

.primary-navigation{
    --gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 800;
    margin-right: .5em;
}

.underline-indicators > * {
    padding: var(--underline-gap, 0.75rem) 0;
    border-bottom: .1rem solid hsl(var(--clr-white)/0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus{
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active{
    border-color: hsl( var(--clr-white) / 1);
}

/* Hour course 1:44h */
